@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;400;500;600;700&family=Roboto&display=swap');

/*  */

body {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 1480px;
    padding: 0 100px;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
}

/*  */

.logo {
    font-size: 80px;
    font-weight: 400;
    color: #4BCAFF;
}

.logo-black-color {
    color: #000000;
}

.navbar {
    background-color: #35444F;
    display: flex;
    flex-grow: 1;
    justify-content: center;

}

.navbar a {

    padding: 26px 33px 19px 33px;
    border-left: 1px solid white;
    font-size: 24px;
    text-transform: capitalize;
    color: #ffffff;
}

.border-right {
    border-right: 1px solid white;
}

.navbar a:hover {
    background-color: #222F3A;
}

/*  */

.aside-list {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 48px 0 0 0;
    border: 1px solid #000000;
    width: 344px;
}

.aside-list a {
    font-size: 27px;
    text-transform: capitalize;
    color: #495863;
    padding: 27px 0 27px 38px;
}

.aside-list a:hover {
    background-color: #DBDBDB;
    padding-left: 76px;
    color: #35444F;
    transition: padding-left 800ms;
    transition: background-color 300ms;
}

.content {
    box-sizing: border-box;
    width: 884px;
    margin: 48px 0 0 52px;
}

.img-content {
    display: flex;
    justify-content: center;
    width: 884px;
    height: 530px;
    box-sizing: border-box;
    border: 1px solid #000000;
    align-items: center;
}

.img-main {
    padding: 75px 268px 75px 300px;
}

.img-main:hover {
    transform: scale(1.20);
    transition: transform 1.5s;
}

.content p {
    font-size: 18px;
    line-height: 24px;
    margin: 37px 0 0 0;
}

/*  */

.bottom {
    display: flex;
    flex-grow: 1;
    background-color: #63696e7a;
    margin: 54px 0 30px 0;
}

.footer {
    font-size: 28px;
    line-height: 28px;
    padding: 20px 0 21px 0;
}

.footer a {
    color: #0C1927;
    margin: 0 0 0 30px;
    text-transform: capitalize;
}

.footer a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 6px;
}


.copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding: 0 0 0 135px;
    align-self: center;
}